/* Reset default browser styles */
body,
h1,
h2,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Set background image properties */
body {
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
}

/* Container to center content and set maximum width */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

/* Header and footer styles */
.header,
.footer {
  background-color: #2b313b;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

/* Logo styles */
.logo {
  margin: 0;
}

/* Navigation styles */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Main content styles */
.main-content {
  background: rgba(222, 208, 208, 0.51);
  backdrop-filter: saturate(180%) blur(10px);
  max-width: 600px; /* Adjust the width as needed */
  margin: 50px auto; /* Adjust the margin as needed */
  padding: 20px; /* Adjust the padding as needed */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a shadow for a glass-like effect */
}

/* Search input and button styles */
.search {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Footer hide animation */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.footer.hide {
  opacity: 0;
}
